{% extends 'index.html' %}

{% block title %}Home - Hamza{% endblock %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">M HAMZA SIDDIQUI
            </h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn
                asymmetrical gentrify, subway tile poke farm-to-table.</p>
        </div>
        <div class="flex flex-wrap -m-4 text-center">
            <form class=" p-4 md:w-1/4 sm:w-1/2 w-full transition-all duration-200 hover:scale-105">
                <label for="resume" class="cursor-pointer w-full h-full">
                    <input type="file" id="resume" class="hidden">
                    <div class="border-2 border-myGray px-4 py-6 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" class="text-primary w-12 h-12 mb-3 inline-block" height="30" width="30" fill="currentColor" viewBox="0 0 384 512">
                            <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 408c0 13.3-10.7 24-24 24s-24-10.7-24-24V305.9l-31 31c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l72-72c9.4-9.4 24.6-9.4 33.9 0l72 72c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-31-31V408z"/></svg>
                        <h2 class="title-font font-medium text-3xl text-gray-900">1</h2>
                        <p class="leading-relaxed">Resume</p>
                    </div>
                </label>
            </form>

            <form enctype="multipart/form-data" class="cursor-pointer p-4 md:w-1/4 sm:w-1/2 w-full transition-all duration-200 hover:scale-105">
                <label for="dp" class="cursor-pointer w-full h-full">
                    <input type="file" id="dp" class="hidden" accept=".png, .jpg, .jpeg" onchange="uploadFile()">
                    <div class="border-2 border-myGray px-4 py-6 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" class="text-primary w-12 h-12 mb-3 inline-block" fill="currentColor" viewBox="0 0 512 512">
                            <path d="M448 80c8.8 0 16 7.2 16 16V415.8l-5-6.5-136-176c-4.5-5.9-11.6-9.3-19-9.3s-14.4 3.4-19 9.3L202 340.7l-30.5-42.7C167 291.7 159.8 288 152 288s-15 3.7-19.5 10.1l-80 112L48 416.3l0-.3V96c0-8.8 7.2-16 16-16H448zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm80 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>
                        <h2 class="title-font font-medium text-3xl text-gray-900">1</h2>
                        <p class="leading-relaxed" id="responseMessage">Profile Picture</p>
                    </div>
                </label>
            </form>
            <!-- Projects -->
            <a href="/projects" class="p-4 md:w-1/4 sm:w-1/2 w-full transition-all duration-200 hover:scale-105">
                <div class="border-2 border-myGray px-4 py-6 rounded-lg">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="text-primary w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
                        <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                    </svg>
                    <h2 class="title-font font-medium text-3xl text-gray-900">46</h2>
                    <p class="leading-relaxed">Projects</p>
                </div>
            </a>
            <!-- Messages -->
            <a href="/messages" class="p-4 md:w-1/4 sm:w-1/2 w-full transition-all duration-200 hover:scale-105">
                <div class="border-2 border-myGray px-4 py-6 rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="text-primary w-12 h-12 mb-3 inline-block">
                        <path d="M160 368c26.5 0 48 21.5 48 48v16l72.5-54.4c8.3-6.2 18.4-9.6 28.8-9.6H448c8.8 0 16-7.2 16-16V64c0-8.8-7.2-16-16-16H64c-8.8 0-16 7.2-16 16V352c0 8.8 7.2 16 16 16h96zm48 124l-.2 .2-5.1 3.8-17.1 12.8c-4.8 3.6-11.3 4.2-16.8 1.5s-8.8-8.2-8.8-14.3V474.7v-6.4V468v-4V416H112 64c-35.3 0-64-28.7-64-64V64C0 28.7 28.7 0 64 0H448c35.3 0 64 28.7 64 64V352c0 35.3-28.7 64-64 64H309.3L208 492z"/></svg>
                    <h2 class="title-font font-medium text-3xl text-gray-900">74</h2>
                    <p class="leading-relaxed">Messages</p>
                </div>
            </a>
            
        </div>
    </div>
</section>
<script>
    async function uploadFile() {
        const res = document.getElementById('responseMessage');
        const dp = document.getElementById('dp');
        const formData = new FormData();
        formData.append('file', dp.files[0]);

        try {
            const response = await fetch('/image', {
                method: 'PUT',
                body: formData
            });
            res.style.color = 'green'
            res.innerText = "Uploaded!";
        } catch (error) {
            res.style.color = 'red'
            res.innerText = 'File upload failed!';
        }
    }
</script>
{% endblock %}