<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <!-- Tailwind CSS scripts -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../static/reusable.js"></script>
    <!-- Tailwind CSS scripts End -->
</head>

<body class="bg-myWhite selection:bg-myBlack selection:text-myWhite">
    {% if show_header %}
        {% include 'header.html' %}
    {% endif %}
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>